<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Google Public Sheet</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.form-horizontal .control-label {
	text-align: left !important;
}
</style>
</head>
<body>
	<h1 class="center-block" style="text-align: center;">View 
		content of a public "Google Sheets"</h1>
	<div data-ng-app="sample">
		<div data-ng-controller="mainCtrl">
			<!-- <pre>{{sheet.values}}</pre> -->
			<div class="container-fluid">
				<div class="well">
					<form class="form-horizontal" data-ng-submit="view()">
						<div class="form-group">
							<label for="sheet.url" class="col-sm-1 control-label">URL:</label>
							<div class="col-sm-11">
								<input type="text" data-ng-model="sheet.url" readonly="readonly"
									class="form-control" id="sheet.url" placeholder="Sheet url">
							</div>
							<!-- 
							<div class="col-sm-1">
								<input type="submit" class="form-control btn btn-primary"
									value="View">
							</div>
							<div class="col-sm-1">
								<input type="button" class="form-control btn btn-default"
									value="Reset" data-ng-click="reset()">
							</div>
							 -->
						</div>
						<div class="form-group">
							<label for="sheet.id" class="col-sm-1 control-label">ID:</label>
							<div class="col-sm-11">
								<input type="text" data-ng-model="sheet.id" class="form-control"
									id="sheet.id" placeholder="Sheet id">
							</div>
						</div>
						<div class="form-group">
							<label for="sheet.range" class="col-sm-1 control-label">Range:</label>
							<div class="col-sm-11">
								<input type="text" data-ng-model="sheet.range"
									class="form-control" id="sheet.id" placeholder="Range A1:z10">
							</div>
						</div>
						<div class="form-group">
							<label for="api.key" class="col-sm-1 control-label">API
								key:</label>
							<div class="col-sm-11">
								<input type="text" data-ng-model="api.key" class="form-control"
									id="sheet.id" placeholder="Google API key">
							</div>
						</div>
						<div class="form-group">
						 <div class="col-sm-2"></div>
						 <div class="col-sm-3">
						   <input type="submit" class="form-control btn btn-primary"
									value="View">
						 </div>
						 <div class="col-sm-2"></div>
						 <div class="col-sm-3">
						  <input type="button" class="form-control btn btn-default"
									value="Reset" data-ng-click="reset()">
						 </div>
						 <div class="col-sm-2"></div>
						</div>
						
					</form>
				</div>

				
				
				<table class="table" data-ng-if="response != null">
				   <caption>
				    <input type="text" data-ng-model="filterBy" class="form-control"
								id="filter" placeholder="filter data ..">
				   </caption>
					<tr data-ng-repeat="row in response.values | filter:filterBy">
						<td data-ng-repeat="cell in row">{{cell}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		(function() {
			//console.log("init angular app");
			var app = angular.module("sample", []);
			app.controller("mainCtrl", mainCtrl);
			function mainCtrl($scope, $http) {
				//var _baseurl = "https://sheets.googleapis.com/v4/spreadsheets/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/values/A1:Z5?key=AIzaSyBYDYxPD166O3ugiKn_kBV-9fXJf0aeq20";
				var _baseurl = "https://sheets.googleapis.com/v4/spreadsheets/";
				var _key = "AIzaSyBYDYxPD166O3ugiKn_kBV-9fXJf0aeq20";
				var _id = "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms";
				var _range = "A1:Z10";
				
			

				$scope.reset = function() {
					$scope.sheet = {};
					$scope.api = {};
					
					$scope.sheet.id = _id;
					$scope.sheet.range = _range;
					$scope.api.key = _key;
					updateURL();
				}
				function updateURL() {
					$scope.sheet.url = _baseurl + $scope.sheet.id + "/values/"
							+ $scope.sheet.range + "?key=" + $scope.api.key;
				}
				$scope.view = function() {
					updateURL();
					$http({
						url : $scope.sheet.url,
						method : "GET",
						responseType : "application/json"
					}).then(function(response) {
						$scope.response = response.data;

					});
				}
				//init
				$scope.reset();
			}
		})();
	</script>
</body>
</html>